body{
  background-image:url('../img/fondo.jpg');
}


#contenedor{ 	width: 1000px;
            	margin: 0 auto;
            }


#cuerpo {height: 800px;
            width: 1000px;
            

}
#encabezado{  border-radius:5px 5px 0px 0px;
            text-align:right;  
            height: 150px;
            width: 1000px;
            background-color: #083760;
           
            }


h1{ color: #ffffff;
	font-size:80px;
    text-align:center;   
}





#cuerpoizq{	border-radius:15px;
  			height: 750px;
            width: 480px;
            background-color: #7D3C3C;
       	 	float:left;
       	 	margin-left:20px;
       	 	text-align:center;
}

#cuerpoizq a{margin: 2px; margin-both:4px;}

#cuerpoder{ border-radius:15px;
  			height: 750px;
            width: 480px;
            background-color: #7D3C3C;
            float:left;
            padding-left: 15px;
            padding-right: auto;
            padding:5em auto;
}

.contenedorempresa{width: 400px;
                   height: 280px;
                   background-color:#ffffff;
                   overflow: scroll;
                   margin: auto;
                  }

