#contenedor{ width: 1000px;
             margin: 0 auto;
            }



#encabezado{border-radius:5px 5px 0px 0px;
            text-aling: center;
            height: 150px;
            width: 100%;
            background-color: #083760;
            text-align: center;
            }
           
 
            
 #cuerpo {height: 800px;
         width: 100%;
         border: 1px;
         background-color: #E1E4E6 ; 
         padding-top: 10px; 
         
	   }


fieldset{         /*borde de "envianos tu comentario", como efecto recuadro*/
      border: .1em solid #20B5EB;
      border-radius:5px;
      padding: 1em;
      margin-left: 25px;
      width: 200px;
      text-aling: center;
      background-color: #ffffff;
}



legend{           /* texto en le marco */
      color: #000;
      font-size: 1.2em;
      font-weight: bold;
}